body {
	font-family: arial;
	font-size: 14px;
}


#canvas {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid silver;
}

#header {
	font-size: 20px;
	padding: 10px;
	margin-bottom: -35px;
}
#canvas #header .logo{
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	width: 500px;
	height: 100px;
}

#menu {
	background-color: #11e12e;
}

#menu ul {
	list-style: none;
	margin 0;
	padding 0;
}

#menu ul li.utama {
	display: inline-table;
}

#menu ul li:hover{
	background-color: #0cc627;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	line-height: 40px;
	padding: 0 10px;
	color: #000a02;
}

.utama ul {
	display: none;
	position: absolute;
	z-index: 2;
	
}

.utama:hover ul{
	display: block;
}

.utama ul li {
	display: block;
	background-color: #9cefa7;
	width: 140px;
}


.right {
	float: right;
}

#isi {
	min-height: 400px;
	padding: 20px;
}

#footer {
	text-align: center;
	padding: 5px;
	background-color: #ccc;
}
